<div
  class="modal fade"
  id="addDiagnosisModal"
  tabindex="-1"
  aria-labelledby="addDiagnosisModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <label id="hdnId" class="d-none"></label>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDiagnosisModalLabel">
          Add New Diagnosis
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="addDiagnosisForm">
          <div class="mb-3">
            <label for="diagnosisText" class="form-label">Diagnosis</label>
            <input
              type="text"
              class="form-control"
              id="diagnosisText"
              placeholder="Enter Diagnosis"
              required
            />
          </div>
          <div class="mb-3">
            <label for="diagnosisAlterName" class="form-label"
              >Diagnosis Alter Name</label
            >
            <input
              type="text"
              class="form-control"
              id="diagnosisAlterText"
              placeholder="Enter Diagnosis Alter Name"
              required
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" id="saveDiagnosis">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
    <script src="./scripts/views/popup/edit-diagnosis.js"></script>
