<div
  class="modal fade"
  id="addCreateTemplate"
  tabindex="-1"
  aria-labelledby="addCreateTemplateLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <label id="hdnId" class="d-none"></label>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCreateTemplateLabel">Create Template</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="section-container">
        <div class="section-header">Diagnosis - Investigation - Plan</div>
        <div class="section-body">
          <div id="diagnosis-section"></div>
        </div>
      </div>

      

      <div class="section-container">
        <div class="section-header">Chief Complaint</div>
        <div class="section-body">
          <div id="chief-complaint-section"></div>
        </div>
      </div>

      

      <div class="modal-body">
        <form id="addDiagnosisForm">
          <div class="section-container">
            <div class="section-header">Medicine</div>
            <div class="section-body">
              <div id="medicine-section"></div>
            </div>
          </div>

          
        </form>
      </div>

      <div class="section-container">
        <div class="section-header">Rehabilitation Aids</div>
        <div class="section-body">
          <div id="rehabilitation-aids-section"></div>
        </div>
      </div>

      

      <div class="modal-body">
        <form id="addDiagnosisForm">
          <div class="section-container">
            <div class="section-header">Patient Instructions</div>
            <div class="section-body">
              <div id="patient-instruction-section"></div>
            </div>
          </div>

          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary" id="createTemplate">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
    <script src="./scripts/views/popup/edit-create-template.js"></script>
