<div
  class="modal fade"
  id="addAttachpatientinstruction"
  tabindex="-1"
  aria-labelledby="addAttachpatientinstructionLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <label id="hdnId" class="d-none"></label>
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div
        class="modal-body"
        style="padding: 0px !important; margin: 0 !important"
      >
        <div id="printableArea">
          <div id="printableafterGap">
            <div class="page width-for-print">
              <div class="middle-section">
                <!-- Patient Information Row -->
                <div
                  class="patient-information"
                  style="background-color: #aeaaa9"
                >
                  <div style="display: flex; align-items: center; gap: 5px">
                    <span style="font-weight: bold">Name:</span>
                    <span id="spanpatientname">Muzafar Khan</span>
                  </div>
                  <div style="display: flex; align-items: center; gap: 5px">
                    <span style="font-weight: bold">Age:</span>
                    <span id="spanpatientage">64</span>
                  </div>
                  <div style="display: flex; align-items: center; gap: 5px">
                    <span style="font-weight: bold">Date:</span>
                    <span id="spanpatientcheckupdate">01-01-2025</span>
                  </div>
                </div>

                <!-- Left and Right Sections -->
                <div class="left-right-container">
                  <div class="left-section">
                    <div
                      id="divExtraDetailLikeSurgery"
                      style="font-size: small; font-weight: bold"
                    ></div>
                    <div
                      id="divCOMORBIDSList"
                      class="mt-2"
                      style="font-size: small"
                    ></div>
                    <br />
                    <div id="divCHIEFCOMPLAINTS">
                      <div class="title">CHIEF COMPLAINTS</div>
                      <div>
                        <ul class="list-container" id="ulcomplaintList"></ul>
                      </div>
                    </div>

                    <div>
                      <div class="title mt-4">EXAM FINDINGS</div>
                      <div>
                        <ul class="list-container">
                          <li
                            class="list-item"
                            style="
                              display: flex;
                              justify-content: space-between;
                              margin-bottom: 8px;
                              padding: 0;
                              white-space: nowrap;
                            "
                          >
                            <span style="margin: 0; padding: 0">
                              <span>GCS:</span>
                              <span id="spangcs" style="font-weight: bold"
                                >15/15</span
                              >
                            </span>
                            <span style="margin: 0; padding: 0">
                              <span>BP:</span>
                              <span id="spanbp" style="font-weight: bold"
                                >120/80</span
                              >
                            </span>
                          </li>
                          <li
                            class="list-item"
                            style="
                              display: flex;
                              justify-content: space-between;
                              margin: 0;
                              padding: 0;
                              white-space: nowrap;
                            "
                          >
                            <span style="margin: 0; padding: 0">
                              <span>Power UL </span>
                              <span
                                id="powerUL-first"
                                style="font-weight: normal"
                                >-</span
                              >/5 -
                              <span
                                id="powerUL-second"
                                style="font-weight: normal"
                                >-</span
                              >/5
                            </span>
                            <span style="margin: 0; padding: 0">
                              <span>Power LL </span>
                              <span
                                id="powerLL-first"
                                style="font-weight: normal"
                                >-</span
                              >/5 -
                              <span
                                id="powerLL-second"
                                style="font-weight: normal"
                                >-</span
                              >/5
                            </span>
                          </li>
                          <li
                            class="list-item"
                            style="
                              display: flex;
                              justify-content: space-between;
                              margin: 0;
                              padding: 0;
                              white-space: nowrap;
                            "
                          >
                            <span style="margin: 0; padding: 0">
                              <span>Reflexes:</span>
                              <span
                                id="reflexesValue"
                                style="font-weight: normal"
                                >NORMAL</span
                              >
                            </span>
                            <span style="margin: 0; padding: 0">
                              <span>FABER Test:</span>
                              <span id="faberValue" style="font-weight: normal"
                                >-VE</span
                              >
                            </span>
                          </li>

                          <li
                            class="list-item"
                            style="
                              display: flex;
                              justify-content: space-between;
                              margin: 0;
                              padding: 0;
                              white-space: nowrap;
                            "
                          >
                            <span style="margin: 0; padding: 0">
                              <span>Sensations:</span>
                              <span
                                id="sensationsValue"
                                style="font-weight: normal"
                                >INTACT</span
                              >
                            </span>
                            <span style="margin: 0; padding: 0">
                              <span>SLR:</span>
                              <span id="slrValue" style="font-weight: normal"
                                >NORMAL</span
                              >
                            </span>
                          </li>

                          <li
                            class="list-item"
                            style="
                              display: flex;
                              justify-content: space-between;
                              margin: 0;
                              padding: 0;
                              white-space: nowrap;
                            "
                          >
                            <span style="margin: 0; padding: 0">
                              <span>Sphincter:</span>
                              <span
                                id="sphincterValue"
                                style="font-weight: normal"
                                >INTACT</span
                              >
                            </span>
                            <span style="margin: 0; padding: 0">
                              <span>SPERLING SIGN:</span>
                              <span
                                id="sperlingValue"
                                style="font-weight: normal"
                                >-VE</span
                              >
                            </span>
                          </li>

                          <li
                            class="list-item"
                            style="
                              display: flex;
                              justify-content: space-between;
                              margin: 0;
                              padding: 0;
                              white-space: nowrap;
                            "
                          >
                            <span style="margin: 0; padding: 0">
                              <span>HOFF MAN SIGN:</span>
                              <span id="hoffValue" style="font-weight: normal"
                                >-VE</span
                              >
                            </span>
                            <span style="margin: 0; padding: 0">
                              <span>PHALLEN SIGN:</span>
                              <span
                                id="phallenValue"
                                style="font-weight: normal"
                                >-VE</span
                              >
                            </span>
                          </li>

                          <li
                            class="list-item"
                            style="
                              display: flex;
                              justify-content: space-between;
                              margin: 0;
                              padding: 0;
                              white-space: nowrap;
                            "
                          >
                            <span style="margin: 0; padding: 0">
                              <span>TINNEL SIGN:</span>
                              <span id="tinnelValue" style="font-weight: normal"
                                >-VE</span
                              >
                            </span>
                            <span style="margin: 0; padding: 0"></span>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <!-- In your HTML, modify the INVESTIGATIONS section to: -->
                    <div id="divINVESTIGATIONS">
                      <div class="title mt-4">INVESTIGATIONS</div>
                      <div>
                        <div
                          id="investigationsInlineList"
                          style="font-size: 13px"
                        ></div>
                        <div
                          id="investigationsDetails"
                          style="
                            font-size: 13px;
                            margin-top: 5px;
                            font-style: italic;
                          "
                        ></div>
                      </div>
                    </div>
                    <div id="divDiagnosis">
                      <div class="title mt-4">DIAGNOSIS</div>
                      <div id="divDiagnosisList" style="font-size: 13px"></div>
                    </div>
                    <div id="divPlan">
                      <div class="title mt-4">PLAN</div>
                      <div>
                        <ul class="list-container" id="ulplanList"></ul>
                      </div>
                    </div>
                  </div>

                  <div class="right-section">
                    <div class="content" id="rehabilitationaidsDivList"></div>
                    <div class="content mt-5" id="medicineDivList"></div>

                    <div
                      class="content"
                      style="color: #999999"
                      id="patientinstructionDivList"
                    ></div>
                    <div
                      class="nastaleeq"
                      style="text-align: center; margin-top: 8px"
                      id="divNextFollowUpDate"
                    ></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="no-print modal-footer" style="border-top: 0px !important">
            <div class="text-center my-3">
              <button class="btn btn-primary" onclick="printPrescription()">
                Print
              </button>
            </div>
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    <script src="./scripts/views/popup/print.js"></script>
