<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Chief Complaints</title>
  </head>

  <body>
    <div class="form-container">
      <div class="d-flex justify-content-end">
        <button id="btnAddComplaintModal" class="btn btn-primary mt-1">
          Add Complaint
        </button>
      </div>
      <form>
        <div class="row m-1">
          <table id="complaintsTable" class="display" style="width: 100%">
            <thead>
              <tr>
                <th>ID</th>
                <th>Complaint</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </form>
    </div>

    
      <script src="./scripts/views/chief-complaint.js"></script>
  </body>
</html>
