<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Chief Complaints</title>
  </head>

  <body>
    <div class="form-container">
      <div class="d-flex justify-content-end">
        <button id="btnAddComplaintModal" class="btn btn-primary mt-1">
          Add Complaint
        </button>
      </div>
      <form>
        <div class="row m-1">
          <table id="complaintsTable" class="display" style="width: 100%">
            <thead>
              <tr>
                <th>ID</th>
                <th>Complaint</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </form>
    </div>

    <script>
      $(document).ready(function () {
        // Initialize DataTable
        const table = $("#complaintsTable").DataTable();

        // Fetch and populate table
        window.electronAPI
          .getChiefComplaint()
          .then((complaints) => {
            table.clear();
            complaints.forEach((complaint) => {
              table.row
                .add([
                  complaint.id,
                  complaint.complaint,
                  '<button class="btn btn-warning btn-sm" onclick="openEditChiefComplaint(' +
                    complaint.id +
                    ',event)">Update</button>' +
                    '<button class="btn btn-danger btn-sm delete-row ms-1" onclick="deleteChiefComplaint(' +
                    complaint.id +
                    ',event)">Delete</button>',
                ])
                .draw();
            });
            common.refreshTablePaging();
          })
          .catch((error) => {
            $.toast({
              heading: "Error",
              text: "Error fetching data:",
              showHideTransition: "fade",
              icon: "error",
              position: "top-right",
            });
          });

        $("#btnAddComplaintModal").on("click", function () {
          $("#addEditModel").data("id", 0);
          $("#addEditModel").load("views/popup/edit-chief-complaint.html");
        });
      });

      function deleteChiefComplaint(id, event) {
        event.preventDefault();
        window.electronAPI.deleteChiefComplaintById(id);
        common.showDeletedSuccessfullyMessage();
        loadPageContent(
          "chief-complaint",
          "complaintsTable",
          $("#complaintsTable").DataTable().page()
        );
      }

      function openEditChiefComplaint(id, event) {
        event.preventDefault();
        $("#addEditModel").load(
          "views/popup/edit-chief-complaint.html",
          function () {
            // After loading, pass the id dynamically
            $("#addEditModel").data("id", id);
          }
        );
      }
    </script>
  </body>
</html>
