<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Patient Instruction</title>
  </head>

  <body>
    <div class="form-container">
      <div class="d-flex justify-content-end">
        <button id="btnAddPatientInstructionModal" class="btn btn-primary mt-1">
          Add New Patient Instruction
        </button>
      </div>
      <form>
        <div class="row m-1">
          <table
            id="patientinstructionTable"
            class="display"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Detail</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </form>
    </div>

    <script>
      $(document).ready(function () {
        // Initialize DataTable
        const table = $("#patientinstructionTable").DataTable();

        // Fetch and populate table
        window.electronAPI
          .getPatientInstruction()
          .then((patientinstructions) => {
            table.clear();
            patientinstructions.forEach((patientinstruction) => {
              table.row
                .add([
                  patientinstruction.id,
                  patientinstruction.title,
                  patientinstruction.detail,
                  '<button class="btn btn-warning btn-sm" onclick="openEditPatientInstruction(' +
                    patientinstruction.id +
                    ',event)">Update</button>' +
                    '<button class="btn btn-danger btn-sm delete-row ms-1" onclick="deletePatientInstruction(' +
                    patientinstruction.id +
                    ',event)">Delete</button>',
                ])
                .draw();
            });
            common.refreshTablePaging();
          })
          .catch((error) => {
            $.toast({
              heading: "Error",
              text: "Error fetching data:",
              showHideTransition: "fade",
              icon: "error",
              position: "top-right",
            });
          });

        $("#btnAddPatientInstructionModal").on("click", function () {
          $("#addEditModel").data("id", 0);
          $("#addEditModel").load("views/popup/edit-patient-instruction.html");
        });
      });

      function deletePatientInstruction(id, event) {
        event.preventDefault();
        window.electronAPI.deletePatientInstructionById(id);
        common.showDeletedSuccessfullyMessage();
        loadPageContent(
          "patient-instruction",
          "patientinstructionTable",
          $("#patientinstructionTable").DataTable().page()
        );
      }

      function openEditPatientInstruction(id, event) {
        event.preventDefault();
        $("#addEditModel").load(
          "views/popup/edit-patient-instruction.html",
          function () {
            // After loading, pass the id dynamically
            $("#addEditModel").data("id", id);
          }
        );
      }
    </script>
  </body>
</html>
