<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Rehabilitation Aids</title>
  </head>

  <body>
    <div class="form-container">
      <div class="d-flex justify-content-end">
        <button id="btnAddRehabilitationAidsModal" class="btn btn-primary mt-1">
          Add New Rehabilitation Aids
        </button>
      </div>
      <form>
        <div class="row m-1">
          <table
            id="rehabilitationaidsTable"
            class="display"
            style="width: 100%"
          >
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </form>
    </div>

    
      <script src="./scripts/views/rehabilitation-aids.js"></script>
  </body>
</html>
