<div>
  <form id="settingForm">
    <div class="scrollable">
      <div class="section-container">
        <div class="section-header">Settings</div>
        <div class="section-body">
          <div id="settings-section">
            <div class="row">
              <div class="col-2">
                <div class="row">
                  <label for="selectDefaultDay">Default Day</label>
                  <select
                    id="selectDefaultDay"
                    class="form-select"
                    name="defaultDay"
                    onchange="toggleInputs('selectDefaultDay', 'txtDefaultDate')"
                  >
                    <option value="">Select Day (Patient Detail)</option>
                    <option value="Tomorrow">Tomorrow</option>
                    <option value="Today">Today</option>
                    <option value="Yesterday">Yesterday</option>
                  </select>
                </div>
              </div>
              <div class="col-2">
                <div class="row">
                  <label for="txtDefaultDate"
                    >Default Date (Patient Detail)</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="txtDefaultDate"
                    name="DefaultDate"
                    onchange="toggleInputs('txtDefaultDate', 'selectDefaultDay')"
                  />
                </div>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-2">
                <div class="row">
                  <label>Default Complaint Duration</label>
                  <input
                    type="number"
                    class="form-control"
                    id="txtDefaultComplaintDurationSetting"
                    value="1"
                  />
                </div>
              </div>
              <div class="col-2">
                <div class="row">
                  <label>Default Complaint Unit</label>
                  <select class="form-select default-complaint-unit">
                    <option value="" selected>Select Unit</option>
                    <option value="day">day</option>
                    <option value="week">week</option>
                    <option value="month">month</option>
                    <option value="year">year</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-container">
        <div class="section-header">Translations</div>
        <div class="section-body">
          <div id="translations-section">
            <div>
              <table id="translationsContainer" class="table table-bordered">
                <thead>
                  <tr>
                    <th>English</th>
                    <th>Urdu</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Complaint Row Template -->
                  <tr class="translations-row">
                    <!-- Complaint Input -->
                    <td>
                      <input
                        type="text"
                        class="form-control english-input"
                        id="english-input"
                        placeholder="Enter English"
                        required
                      />
                    </td>

                    <td>
                      <input
                        type="text"
                        class="form-control tourdu-input"
                        id="tourdu"
                        placeholder="اردو داخل کریں"
                      />
                    </td>

                    <!-- Remove Button -->
                    <td>
                      <button
                        type="button"
                        class="btn btn-danger remove-translations"
                      >
                        Remove
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- Button to add new translations -->
              <div class="d-flex justify-content-end">
                <button id="addTranslationsBtn" class="btn btn-primary mt-1">
                  Add Translation
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Save Prescription -->
    <div class="sticky-footer">
      <div class="mt-4 text-end">
        <!-- Added 'text-end' class -->
        <button type="submit" class="btn btn-success">Save Changes</button>
      </div>
    </div>
  </form>
</div>

<script>
  $(document).ready(function () {
    function addTranslationsRow() {
      const newRow = $(
        "#translationsContainer .translations-row:first"
      ).clone();
      const rowIndex = $("#translationsContainer .translations-row").length;
      newRow.find("input").val(""); // Clear input values

      // Update dynamic IDs for the new row
      newRow
        .find(".translations-input")
        .attr("id", `translations-input-${rowIndex}`);
      newRow.find(".english-input").attr("id", `english-${rowIndex}`);
      newRow.find(".tourdu-input").attr("id", `tourdu-${rowIndex}`);

      // Append the new row
      $("#translationsContainer tbody").append(newRow);
    }

    $("#addTranslationsBtn").on("click", function (event) {
      event.preventDefault();
      addTranslationsRow();
    });

    $(document).on("input", ".translations-input", function () {
      const selectedTranslations = $(this).val();
      const translationsRow = $(this).closest("tr");

      if (translationsData[selectedTranslations]) {
        const translationsDetails = translationsData[selectedTranslations];

        translationsRow
          .find("[id^='english']")
          .val(translationsDetails.english);
        translationsRow.find("[id^='tourdu']").val(translationsDetails.tourdu);
      }
    });

    $(document)
      .off("click", ".remove-translations")
      .on("click", ".remove-translations", function () {
        if ($("#translationsContainer .translations-row").length > 1) {
          $(this).closest("tr").remove();
        } else {
          const selectedRehabilitationAids = $(this).val();
          const rehabilitationRow = $(this).closest("tr");

          rehabilitationRow.find("[id^='english']").val("");
          rehabilitationRow.find("[id^='tourdu']").val("");
        }
      });

    async function init() {
      await getSettings();
      await getTranslations();
    }

    async function getSettings() {
      await common.refreshSettings();
      const setting = common.getSettings();
      if (setting && setting.length > 0) {
        $("#txtDefaultDate").datepicker({
          dateFormat: "dd/mm/yy", //check change
          changeMonth: true,
          changeYear: true,
        });
        $("#txtDefaultDate").datepicker("setDate", setting[0].defaultdate);

        $("#selectDefaultDay").val(setting[0].defaultday);
        $(".default-complaint-unit").val(setting[0].defaultcomplaintunit);
        $("#txtDefaultComplaintDurationSetting").val(
          setting[0].defaultcomplaintduration
        );

        if (setting[0].defaultdate)
          toggleInputs("txtDefaultDate", "selectDefaultDay");
        else toggleInputs("selectDefaultDay", "txtDefaultDate");
      }
    }

    async function getTranslations() {
      await common.refreshTranslations();
      const translations = common.getTranslations();
      // Clear the current rows in the table body
      $("#translationsContainer tbody").empty();

      // Iterate over the translations and create rows
      if (translations && translations.length > 0) {
        translations.forEach((translation, index) => {
          const newRow = `
        <tr class="translations-row">
          <td>
            <input
              type="text"
              class="form-control english-input"
              id="english-${index}"
              value="${translation.english || ""}"
              placeholder="Enter English"
              required
            />
          </td>
          <td>
            <input
              type="text"
              class="form-control tourdu-input"
              id="tourdu-${index}"
              value="${translation.tourdu || ""}"
              placeholder="اردو داخل کریں"
            />
          </td>
          <td>
            <button
              type="button"
              class="btn btn-danger remove-translations"
            >
              Remove
            </button>
          </td>
        </tr>`;
          $("#translationsContainer tbody").append(newRow);
        });
      }
    }

    init();

    $("#settingForm").on("submit", async function (event) {
      event.preventDefault(); // Prevent the default form submission
      // Object to store settings
      const settings = {
        defaultDay: $("#selectDefaultDay").val(),
        defaultDate: $("#txtDefaultDate").val(),
        defaultcomplaintunit: $(".default-complaint-unit").val(),
        defaultcomplaintduration: $(
          "#txtDefaultComplaintDurationSetting"
        ).val(),
      };

      // Array to store translations data
      const translations = [];
      $("#translationsContainer .translations-row").each(function () {
        const english = $(this).find(".english-input").val();
        const tourdu = $(this).find(".tourdu-input").val();

        // Push data as an object into the translations array
        translations.push({ english, tourdu });
      });

      // Combine both into a single object (optional)
      const formData = {
        settings,
        translations,
      };

      try {
        // Await both async operations
        await updateSettings(
          settings.defaultDate,
          settings.defaultDay,
          settings.defaultcomplaintunit,
          settings.defaultcomplaintduration
        );
        await savetranslations(translations);
        await common.refreshSettings();
        // Show success message after both are completed
        common.showUpdatedSuccessfullyMessage();
        await init(); // Reinitialize to refresh data
      } catch (error) {
        console.error("Error updating settings or translations:", error);
        // Handle errors, such as showing a message to the user
      }
    });
  });
  async function updateSettings(
    defaultdate,
    defaultday,
    defaultcomplaintunit,
    defaultcomplaintduration
  ) {
    const results = await window.electronAPI.updateSettings(
      defaultdate,
      defaultday,
      defaultcomplaintunit,
      defaultcomplaintduration
    );
  }

  async function savetranslations(translations) {
    const results = await window.electronAPI.savetranslations(translations);
  }

  function toggleInputs(changedInputId, otherInputId) {
    const changedInput = document.getElementById(changedInputId);
    const otherInput = document.getElementById(otherInputId);

    // Disable the other input if the current input has a value
    if (changedInput.value) {
      otherInput.disabled = true;
    } else {
      otherInput.disabled = false; // Re-enable the other input if the current one is cleared
    }
  }
</script>
